.layout{
    max-width: 100%;
  font-family: Arial;
  padding: 20px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(85, 85, 85));
  align-items: center;
  justify-items: center;
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}
.Personal-info.isScolaireFullscreen, 
.mech.isScolaireFullscreen, 
.grad-container.isScolaireFullscreen,
.Personal-info.isStageFullscreen,
.mech.isStageFullscreen,
.grad-container.isStageFullscreen {
    filter: blur(5px);
  }
  
  


.Personal-info{
    height:20%;
    display: flex;
    width: 350px;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;

}
.bdc{
    width:350px;
    height: auto;
    background-size: cover;
    background-position: center;
    border-top: 20px;
    border-radius: 20px;
    
}
.container-1{
    display: flex;
    flex-direction: column;
   
   
    justify-content: center;
    align-items: center;
    text-align: left;
}
.container-1 p{
   color: hsl(210, 50%, 25%);
   font-size: larger;
}
.container-1 h1{
    color: hsl(210, 50%, 25%);
   font-size: xx-large;
}

.location-icon, 
.Phone-icon, 
.Email-icon, 
.Car-icon, 
.Birthday-icon {
    margin-top: 3px;
    margin-right: 5px;
    color: hsl(210, 50%, 25%);
    height: 25px;
    width: auto;
}
.phone-container, 
.location-container, 
.email-container, 
.car-container, 
.Birthday-container, 
.Graduation-container, 
.Briefcase-container, 
.mech-container, 
.book-container{
    display: flex;
    align-items: center;
    text-align: center;
}
.Phone-icon{
    transform: scaleX(-1);
    margin-right: 7px;
}
.book-icon, .mec-icon{
    margin-top: 3px;
    margin-right: 5px;
    color: hsl(210, 50%, 25%);
    height: auto;
    width: 50px;
    align-items: center;
}

.Graduation-container, .Briefcase-container, .mech-container, .book-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 350px;
    border-radius: 20px;
    background-color: white;
    justify-content: center;
    align-items: center;
    
    margin: 20px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}


.graduation-icon, .Briefcase-icon{
    margin-top: 3px;
    margin-right: 20px;
    color: hsl(210, 50%, 25%);
    height: 40px;
    width: auto;
    
}
.container-1-2 h1{
    color: hsl(210, 50%, 25%);
}
 .stage{
    
   display: none;
}
.scolaire{

    display: none;
  
}
.scolaire.fullscreen,.stage.fullscreen {
    position: fixed;
    top: 20%;
    left:0;
    width:100%;
    height: auto;
    z-index: 9999;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display:block;
    transform: scale(0.5) translateY(-100%);
  animation: bounceIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;

    background-color: hsl(210, 50%, 25%);
  
  }

  .exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 20px;
    border-radius: 20px;
    border-color: #fff;
    font-size: large;
    background-color: hsl(210, 50%, 25%);
    color: #fff;
    cursor: pointer;
  }
  
  
.scolaire.fullscreen h1, .stage.fullscreen h1{
    color: white;
    margin-top: 20px;
    margin-left: 40px;
    font-size: larger;
    margin-bottom: 0px;
}
.scolaire.fullscreen h2, .stage.fullscreen h2{
    color: white;
    margin-left: 40px;
    font-size: larger;
    margin-bottom: 0px;
}
.scolaire.fullscreen li, .stage.fullscreen p{
    color: white;
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 20px;
}

.container-2-2 p{
    color: white;
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 45px;
    
}


  
  @keyframes bounceIn {
    0% {
      transform: scale(0.5) translateY(-100%);
    }
    60% {
      transform: scale(1.1) translateY(0);
    }
    100% {
      transform: scale(1) translateY(0);
    }
  }