
body {
  height: 100vh;
  width: auto;
  background: rgb(37, 37, 37);
 
 
}
.layout{
    max-width: 100%;
    max-height: 100%;
  font-family: Arial;
  padding: 0px;
  
  align-items: center;
  justify-items: center;
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}
.Personal-info.isScolaireFullscreen, 
.mech.isScolaireFullscreen, 
.grad-container.isScolaireFullscreen,
.Personal-info.isStageFullscreen,
.mech.isStageFullscreen,
.grad-container.isStageFullscreen {
    filter: blur(5px);
  }
  
  


.Personal-info{
    height:20%;
    display: flex;
    width: 350px;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;

}
.bdc{
    width:350px;
    height: auto;
    background-size: cover;
    background-position: center;
    border-top: 20px;
    border-radius: 20px;
    
}
.container-1{
    display: flex;
    flex-direction: column;
   
   
    justify-content: center;
    align-items: center;
    text-align: left;
}


.location-icon, 
.Phone-icon, 
.Email-icon, 
.Car-icon, 
.Birthday-icon {
    margin-top: 3px;
    margin-right: 5px;
    color: #3a3a3a;
    height: 25px;
    width: auto;
}
.phone-container, 
.location-container, 
.email-container, 
.car-container, 
.Birthday-container{
    display: flex;
    align-items: center;
    text-align: center;
}
.Phone-icon{
    transform: scaleX(-1);
    margin-right: 7px;
}
.book-icon, .mec-icon{
    margin-top: 3px;
    margin-right: 5px;
    color: hsl(210, 50%, 25%);
    height: auto;
    width: 50px;
    align-items: center;
}




.container, 
.container1, 
.container2, 
.container3 {
  width: 450px;
  height: 350px;
  padding: 10px;
  perspective: 800px;
}

.container.flipped .card,
.container1.flipped .card,
.container2.flipped .card,
.container3.flipped .card{
  transform: rotateY(180deg);
  cursor: pointer;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
  
}
.front h1{
  color: linear-gradient(45deg, rgb(0, 0, 0), rgb(85, 85, 85));;
  font-size: x-large;
  font-weight: 700;
  margin: 10px;
}

.mec-icon{
  margin-top: 3px;
  margin-right: 5px;
  color: #3a3a3a;
  height: auto;
  width: 50px;
  align-items: center;
}
.back {
  background-color:  #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: white;

}
.back h1{
  margin-top: 20px; 
  margin-bottom: 5px; 
  margin-left: 10px;
  font-size:medium;
}
.back h2{
  margin-top: 5px;
  margin-left: 10px;
  font-size: large;
}
.back li{
  margin-top: 15px;
  margin-left: 20px;
  font-size:medium;
}
.back p{
  margin-top: 5px;
  margin-left: 20px;
  font-size:medium;
}
.graduation-icon, .Briefcase-icon{
    margin-top: 3px;
    margin-right: 20px;
    color: hsl(210, 50%, 25%);
    height: 40px;
    width: auto;
    
}


