.Graduation-container, 
.Briefcase-container, 
.mech-container, 
.book-container{
    transition: transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Graduation-container:hover, 
.Briefcase-container:hover, 
.mech-container:hover, 
.book-container:hover{
    transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}