@media screen and (max-width: 1448.9px) {

.bdc{
  width: 330px;

}
.Personal-info,.container, 
.container1, 
.container2, 
.container3 {
  width: 330px;
  margin: 10px;
}
}
@media screen and (max-width: 1171.67px) {
   

  .Personal-info,.container, 
  .container1, 
  .container2, 
  .container3 {
  width: 300px;
 padding: 10px;
 margin: 10px;
}
.bdc{
  width: 300px;
}
}
@media screen and (max-width: 900px) {
  .layout{
      flex-direction: column;
      justify-items: center;
      align-items: center;
      padding: 0px;    }
      .scolaire.fullscreen,.stage.fullscreen {
        top: 5%;
        overflow: auto;
  max-height: 500px;

      }
      .scolaire.fullscreen h1, .stage.fullscreen h1{
        margin-left: 10px;
        margin-right: 10px;
      }
      .scolaire.fullscreen h2, .stage.fullscreen h2{
        margin-left: 10px;
        margin-right: 10px;
      }
      .exit-button {
        position: relative;
       margin-left: 170px;
       margin-bottom: 40px;
      }

}
@media screen and (max-width: 600px) {
    .layout{
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 0px;    }

        .Personal-info,.container, 
        .container1, 
        .container2, 
        .container3 {
    width: 370px;
    padding: 10px;
    margin: 10px;
  }
  .bdc{
    width: 350px;
  
  }
  }
  @media screen and (max-width: 500px) {
   

    .Personal-info,.container, 
    .container1, 
    .container2, 
    .container3 {
    width: 300px;
   padding: 10px;
   margin: 10px;
  }
  .bdc{
    width: 300px;
  }
  }

  @media screen and (max-width: 350px) {
    .layout{
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 0px;    }

        .Personal-info,.container, 
        .container1, 
        .container2, 
        .container3 {
    width: 270px;
    padding: 10px;
    margin: 10px;
  }
  .bdc{
    width: 270px;
  }
  .exit-button {
 
   margin-left: 112px;
  }
  }